@media (max-width: 600px) {
    .initiatives {
        display: flex;
        flex-direction: column;
    }
    .initiative {
        margin-bottom: 20px;
    }
}

.initiatives-hero {
    height: 50vh; /* Reduce the height */
    position: relative;
    text-align: center;
    color: white;
}

.hero-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.initiatives-hero h1,
.initiatives-hero p {
    position: relative;
    z-index: 1;
}
